@model College.Presenters.ActivityContext.DeleteActivityViewModel

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Disciplina
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discipline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(x => x.DisciplineId)
        <div class="form-actions no-color">
            <input type="submit" value="@Model.DeleteButton.Text" class="btn" style="background-color: @Model.DeleteButton.Color; color: @Model.DeleteButton.FontColor; border: 1px solid black" /> |
            @Html.ActionLink(Model.BackButton.Text, "Index", new { disciplineId = Model.DisciplineId }, new
        {
        @class = "btn",
        style = $"background-color: {Model.BackButton.Color}; " +
        $"color: {Model.BackButton.FontColor}; " +
        $"border: 1px solid black"
        })
        </div>
    }
</div>
