@model College.Presenters.ActivityContext.ActivityDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Activity</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Discipline
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Discipline)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Value)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Value)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Model.EditButton.Text, "Edit", new { id = Model.Id }, new
    {
        @class = "btn",
        style = $"background-color: {Model.EditButton.Color}; " +
        $"color: {Model.EditButton.FontColor}; " +
        $"border: 1px solid black"
    })
    @Html.ActionLink(Model.BackButton.Text, "Index", new { disciplineId = Model.DisciplineId }, new
{
    @class = "btn",
    style = $"background-color: {Model.BackButton.Color}; " +
         $"color: {Model.BackButton.FontColor}; " +
         $"border: 1px solid black"
})
</p>
