@model College.Presenters.EvaluationContext.GiveGradeListViewModel

@{
    ViewBag.Title = "Grades";
}

    <h2>Atividade: @Model.ActivityName - @Model.ActivityValue pontos</h2>

    <p>
        @Html.ActionLink(Model.BackButton.Text, "Index", new { disciplineId = Model.DisciplineId }, new
     {
         @class = "btn",
         style = $"background-color: {Model.BackButton.Color}; " +
         $"color: {Model.BackButton.FontColor}; " +
         $"border: 1px solid black"
     })
    </p>
<table class="table">
    <tr>
        <th>
            Acadêmico
        </th>
        <th>
            Nota
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Students)
{
    <tr>
        <td>
            @item.Student
        </td>
        <td>
            @item.Grade
        </td>
        <td>
            @Html.ActionLink(item.EditButton.Text, "GiveGrade", new { studentId = item.StudentId, activityId = item.ActivityId }, new
            {
                @class = "btn",
                style = $"background-color: {item.EditButton.Color}; " +
                $"color: {item.EditButton.FontColor}; " +
                $"border: 1px solid black"
            })
        </td>
    </tr>
}

</table>
