@model College.Presenters.ActivityContext.ActivityListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Disciplina: @Model.DisciplineName</h2>

<p>
    @Html.ActionLink(Model.CreateButton.Text, "Create", new { disciplineId = Model.DisciplineId }, new
    {
        @class = "btn",
        style = $"background-color: {Model.CreateButton.Color}; " +
        $"color: {Model.CreateButton.FontColor}; " +
              $"border: 1px solid black"
    })
</p>
<table class="table">
    <tr>
        <th>
            Descrição
        </th>
        <th>
            Valor
        </th>
        <th>
            Data
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Activities)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.ActionLink(item.GradesButton.Text, "Grades", new { activityId = item.Id }, new
                {
                    @class = "btn",
                    style = $"background-color: {item.GradesButton.Color}; " +
                    $"color: {item.GradesButton.FontColor}; " +
                    $"border: 1px solid black"
                })

                @Html.ActionLink(item.EditButton.Text, "Edit", new { item.Id }, new
                {
                    @class = "btn",
                    style = $"background-color: {item.EditButton.Color}; " +
                    $"color: {item.EditButton.FontColor}; " +
                    $"border: 1px solid black"
                })
                @Html.ActionLink(item.DetailsButton.Text, "Details", new { item.Id }, new
               {
                   @class = "btn",
                   style = $"background-color: {item.DetailsButton.Color}; " +
                        $"color: {item.DetailsButton.FontColor}; " +
                      $"border: 1px solid black"
               })
                @Html.ActionLink(item.DeleteButton.Text, "Delete", new { item.Id }, new
               {
                   @class = "btn",
                   style = $"background-color: {item.DeleteButton.Color}; " +
                      $"color: {item.DeleteButton.FontColor}; " +
                      $"border: 1px solid black"
               })
            </td>
        </tr>
    }

</table>
