@model College.Presenters.EvaluationContext.ShowGradesViewModel

@{
    ViewBag.Title = "ShowGrades";
}

<h2>Notas</h2>
<h5>Prova 1: @Model.Exam1</h5>
<h5>Prova 2: @Model.Exam2</h5>
<h5>Prova 3: @Model.Exam3</h5>
<table class="table">
    <tr>
        <th>
            Atividade
        </th>
        <th>
            Valor
        </th>
        <th>
            Nota
        </th>
    </tr>

    @foreach (var item in Model.Activities)
    {
        <tr>

            <td>@item.Activity</td>
            <td>@item.Value</td>
            <td>
                @item.Grade
            </td>
        </tr>
    }

</table>

@Html.ActionLink(Model.BackButton.Text, "Index", new { enrollmentId = Model.EnrollmentId }, new
{
    @class = "btn",
    style = $"background-color: {Model.BackButton.Color}; " +
         $"color: {Model.BackButton.FontColor}; " +
         $"border: 1px solid black"
})