@model College.Presenters.CourseContext.DisciplineDetailsViewModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Discipline</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Course)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Course)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Professor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Professor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WeeklyWorkload)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WeeklyWorkload)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Period)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Period)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink(Model.EditButton.Text, "Edit", new { Model.Id }, new
    {
        @class = "btn",
        style = $"background-color: {Model.EditButton.Color}; " +
        $"color: {Model.EditButton.FontColor}; " +
        $"border: 1px solid black"
    })
    @Html.ActionLink(Model.BackButton.Text, "Index", null, new
     {
         @class = "btn",
         style = $"background-color: {Model.BackButton.Color}; " +
         $"color: {Model.BackButton.FontColor}; " +
         $"border: 1px solid black"
     })
</p>
