@model College.Presenters.CourseContext.DisciplineListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(Model.CreateButton.Text, "Create", null, new
    {
        @class = "btn",
        style = $"background-color: {Model.CreateButton.Color}; " +
        $"color: {Model.CreateButton.FontColor}; " +
              $"border: 1px solid black"
    })
</p>
<table class="table">
    <tr>
        <th>
            Disciplina
        </th>
        <th>
            Curso
        </th>
        <th>
            Professor
        </th>
        <th>
            Carga Horária Semanal
        </th>
        <th>
            Periodo
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Disciplines) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Professor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WeeklyWorkload)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Period)
        </td>
        <td>
            @Html.ActionLink(item.EditButton.Text, "Edit", new { item.Id }, new
            {
                @class = "btn",
                style = $"background-color: {item.EditButton.Color}; " +
                $"color: {item.EditButton.FontColor}; " +
                $"border: 1px solid black"
            })
            @Html.ActionLink(item.DetailsButton.Text, "Details", new { item.Id }, new
           {
               @class = "btn",
               style = $"background-color: {item.DetailsButton.Color}; " +
                    $"color: {item.DetailsButton.FontColor}; " +
                  $"border: 1px solid black"
           })
            @Html.ActionLink(item.DeleteButton.Text, "Delete", new { item.Id }, new
           {
               @class = "btn",
               style = $"background-color: {item.DeleteButton.Color}; " +
                  $"color: {item.DeleteButton.FontColor}; " +
                  $"border: 1px solid black"
           })
        </td>
    </tr>
}

</table>
