@model College.Presenters.EvaluationContext.ExamListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<h4>Disciplina: @Model.DisciplineName</h4>
<table class="table">
    <tr>
        <th>
            Acadêmico
        </th>
        <th>
            Prova 1
        </th>
        <th>
            Prova 2
        </th>
        <th>
            Prova 3
        </th>
        <th>
            Exame Final
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Students)
{
    <tr>
        <td>
            @item.Student
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exam1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exam2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Exam3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FinalExam)
        </td>
        <td>
            @Html.ActionLink(item.EditButton.Text, "GiveGrade", new { StudentId = item.StudentId, disciplineId = Model.DisciplineId, Exam1 = item.Exam1, Exam2 =item.Exam2, Exam3 = item.Exam3, FinalExam = item.FinalExam }, new
            {
                @class = "btn",
                style = $"background-color: {item.EditButton.Color}; " +
                $"color: {item.EditButton.FontColor}; " +
                $"border: 1px solid black"
            })
        </td>
    </tr>
}

</table>
