@model College.Presenters.ProfessorContext.ProfessorListViewModel

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink(Model.CreateButton.Text, "Create", null, new
    {
        @class = "btn",
        style = $"background-color: {Model.CreateButton.Color}; " +
        $"color: {Model.CreateButton.FontColor}; " +
              $"border: 1px solid black"
    })
</p>
<table class="table">
    <tr>
        <th>
            Nome
        </th>
        <th>
            Sobrenome
        </th>
        <th>
            CPF
        </th>
        <th>
            Email
        </th>
        <th>
            Telefone
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.Professors)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CPF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.ActionLink(item.EditButton.Text, "Edit", new { item.Id }, new
                {
                    @class = "btn",
                    style = $"background-color: {item.EditButton.Color}; " +
                    $"color: {item.EditButton.FontColor}; " +
                  $"border: 1px solid black"
                })
                @Html.ActionLink(item.DetailsButton.Text, "Details", new { item.Id }, new
           {
               @class = "btn",
               style = $"background-color: {item.DetailsButton.Color}; " +
                    $"color: {item.DetailsButton.FontColor}; " +
                  $"border: 1px solid black"
           })
                @Html.ActionLink(item.DeleteButton.Text, "Delete", new { item.Id }, new
           {
               @class = "btn",
               style = $"background-color: {item.DeleteButton.Color}; " +
                  $"color: {item.DeleteButton.FontColor}; " +
                  $"border: 1px solid black"
           })
            </td>
        </tr>
    }

</table>
